[submodule ".vim/bundle/apprentice"]
	path = .vim/bundle/apprentice
	url = http://github.com/romainl/Apprentice.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = http://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = http://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vim-instant-markdown"]
	path = .vim/bundle/vim-instant-markdown
	url = http://github.com/suan/vim-instant-markdown.git
[submodule ".vim/bundle/vim-startify"]
	path = .vim/bundle/vim-startify
	url = http://github.com/mhinz/vim-startify.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/vim-system-copy"]
	path = .vim/bundle/vim-system-copy
	url = http://github.com/christoomey/vim-system-copy.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = http://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = http://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = http://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = http://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = http://github.com/VundleVim/Vundle.vim.git
[submodule ".zsh/.oh-my-zsh"]
	path = .zsh/.oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
